@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --backgroundColor: rgb(24, 24, 24);
    --navigationColor: rgb(33, 33, 33);
    --fontColor: #ffffff;
}

header {
    background-color: var(--navigationColor);
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: auto;
    z-index: 10;
}

body {
    margin: 0px;
    padding: 0px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--fontColor);

    background-color: var(--backgroundColor);
}

a {
    color: var(--fontColor);
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
}

nav > a:first-child {
    margin-right: auto;
}

nav > a {
    padding: 0.5rem 1rem;
}

footer {
    margin-top: 5rem;
    background-color: var(--navigationColor);
    width: 100%;
}

.footerContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerItem {
    width: 30%;
    margin: 0.5rem 0;
}

.footerItem > a {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerItem > a > img {
    width: 30px;
    margin-right: 0.5rem;
}

main {
    height: 95vh;
    margin-top: 5vh;
}

#parallax {
    height: 100%;
    z-index: 1;
}

#heroHeadline {
    font-size: 70px;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: -1;
}

.parallaxItem {
    cursor: default;
    font-size: 25px;
    text-shadow: rgba(255,162,0,0.7) 0px 0px 15px;
}

#parallaxOne {
   
}

#parallaxTwo {
    
}

#parallaxThree {
    
}

#parallaxFour {
    
}

#parallaxFive {
    
}

#weather, #covid19 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#frontendmentor {
    margin-top: 5rem;
}

.contentContainer {
    width: 90%;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 3rem;
}

.projectContainerMultiple, .projectContainerSingle {
    width: 100%;
}

.projectContainerSingle {
    display: flex;
    flex-direction: row;
}

.imgContainer {
    width: 45%;
}

.imgProject {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.projectDescriptionContainer {
    box-sizing: border-box;
    width: 55%;
    padding: 0 3rem;
    margin: 0px;
}

.linkContainer {
    padding-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkText {
    margin: 0.5rem 0 0;
}

.imgLiveSite {
    width: 45px;
}

.imgRepository {
    width: 45px;
}

.projectContainerMultiple {
    display: flex;
    flex-direction: column;
}

.projectContainer3Way {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.container3Way {
    width: 30%;
    border: 2px solid var(--navigationColor);
    border-radius: 5px;
    padding-bottom: 1rem;
    overflow: hidden;
}

.container3WayImage {
    width: 100%;
    height: 15rem;
}

.img3Way {
    min-width: 100%;
    height: 100%;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.imgMore {
    width: 30%;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.p3Way {
    margin: 0px;
    padding: 1rem;
}