@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --backgroundColor: rgb(24, 24, 24);
    --navigationColor: rgb(33, 33, 33);
    --fontColor: #ffffff;
}

header {
    background-color: var(--navigationColor);
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: auto;
    z-index: 10;
    display: flex;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--fontColor);

    background-color: var(--backgroundColor);
}

a {
    color: var(--fontColor);
    text-decoration: none;
}

nav {
    background-color: var(--navigationColor);
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: auto;
}

#imgHamburgerMenu {
    width: 30px;
}

#navHamburgerMenu {
    height: 30px;
    display: none;
    padding: 0;
    cursor: pointer;
}

#menuMobile {
    display: none;
    height: 100vh;
    width: 100vw;
    padding-top: 5vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.95);
    z-index: 3;
}

#menuMobile > a {
    display: block;
    font-size: 40px;
    width: fit-content;
    margin: 2rem auto;
}

nav > a:first-child {
    margin-right: auto;
}

nav > a {
    margin: 0.5rem 1rem;
}

#buttonLanguage {
    border: 0px;
    outline: none;
    background-image: url("./img/german.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 1.4rem;
    cursor: pointer;
}

footer {
    margin-top: 5rem;
    background-color: var(--navigationColor);
    width: 100%;
}

.footerContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerItem {
    width: 30%;
    margin: 0.5rem 0;
}

.footerItem > a {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerItem > a > img {
    width: 30px;
    margin-right: 0.5rem;
}

main {
    height: 95vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heroHeadline {
    font-size: 70px;
}

#weather, #covid19 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#frontendmentor {
    margin-top: 5rem;
}

.contentContainer {
    width: 90%;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 3rem;
}

.projectContainerMultiple, .projectContainerSingle {
    width: 100%;
}

.projectContainerSingle {
    display: flex;
    flex-direction: row;
}

.imgContainer {
    width: 45%;
}

.imgProject {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.projectDescriptionContainer {
    box-sizing: border-box;
    width: 55%;
    padding: 0 3rem;
    margin: 0px;
}

.linkContainer {
    padding-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkText {
    margin: 0.5rem 0 0;
}

.imgLiveSite {
    width: 45px;
}

.imgRepository {
    width: 45px;
}

.projectContainerMultiple {
    display: flex;
    flex-direction: column;
}

.projectContainer3Way {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.container3Way {
    width: 30%;
    border: 2px solid var(--navigationColor);
    border-radius: 5px;
    padding-bottom: 1rem;
    overflow: hidden;
}

.container3WayImage {
    width: 100%;
    background-repeat: no-repeat;
    min-height: 15rem;
    background-position: center top;
    background-size: cover;
}

#imageFrontendmentorOne {
    background-image: url("./img/frontendmentor/SocialProofSection.jpg");   
}
#imageFrontendmentorTwo {
    background-image: url("./img/frontendmentor/TestimonialGridSection.jpg");   
}
#imageFrontendmentorThree {
    background-image: url("./img/frontendmentor/IntroComponent.jpg");   
}
#imageFrontendmentorFour {
    background-image: url("./img/frontendmentor/FourCardFeatureSection.jpg");   
}
#imageFrontendmentorFive {
    background-image: url("./img/frontendmentor/IPAddressTracker.jpg");   
}

/*Maaybe background image container3WayImage instead of img3Way
.img3Way {
    height: 100%;
    border-radius: 5px;
}*/

#linkMore {
    width: 30%;
    position: relative;
    top: 4rem;
    left: 35%;
}

#imgMore {
    width: 30%;
}

.p3Way {
    margin: 0px;
    padding: 1rem;
}

/* If nav > 3 items add burger menu to this viewport */
@media screen and (max-width: 1299px) and (min-width: 900px) {
    .projectContainerSingle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contentContainer{
        margin-bottom: 5rem;
    }

    .imgContainer {
        width: 55%;
    }

    .projectDescriptionContainer {
        width: 75%;
    }

    .projectContainer3Way {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    .container3Way {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0px;
    }

    .linkContainer {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px 1rem 0px 0px;
        justify-content: space-evenly;
    }

    .container3WayImage {
        min-width: 45%;
    }

    .projectDescriptionContainer > .linkContainer {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 0px;
        justify-content: space-between;
    }

    #frontendmentor {
        margin-bottom: 0px;
    }

    footer {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 899px) {

    #navFirst, #navSecond, #navThird, #navFourth {
        display: none;
    }

    #navName {
        padding-left: 0px;
    }

    #navHamburgerMenu {
        display: block;
        padding-right: 0px;
    }

    .projectContainerSingle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contentContainer{
        margin-bottom: 5rem;
    }

    .imgContainer {
        width: 80%;
    }

    .projectDescriptionContainer {
        width: 90%;
    }

    .projectContainer3Way {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .container3Way {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        padding: 0px;
    }

    .linkContainer {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px 0rem 1rem 0px;
        justify-content: space-evenly;
    }

    .container3WayImage {
        min-width: 45%;
        background-position: center;
    }

    .projectDescriptionContainer > .linkContainer {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 0px;
        justify-content: space-between;
    }

    #frontendmentor {
        margin-bottom: 0px;
    }

    footer {
        margin-top: 1rem;
    }
    
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .footerItem {
        width: auto;
    }
}

@media screen and (max-width: 700px) {

    .contentContainer{
        width: 100%;

        margin: 0 auto 5rem;
    } 

    .container3Way {
        width: 90%;
    }

    .imgContainer {
        width: 90%;
    }

    .projectDescriptionContainer {
        width: 100%;
        padding: 0 2rem;
    }

    .projectDescriptionContainer > .linkContainer {
        justify-content: space-evenly;
    }

    h2 {
        text-align: center;
    }

    .linkContainer {
        width: auto;
        column-gap: 4rem;
    }

    .linkText {
        text-align: center;
        width: 100px;
    }
}